<nav class="sidebar pt05" bgcolor="white" color="dimgray" width="70vw" shade1>
  <form>
    <div>
      <a click="toggle" marginbottom="0.5rem" clicktargetfield="aside[1]" keyboard-key="m" keyboard-action="click"
        keyboard-scope="body" class="button pl1" color="dimgray"><i class="icon32">«</i></a>
      <hr bgcolor="rgba(0,0,0,.1)">
      <div class="tac w100" margintop="0.5rem">
        <img class="br50 w3r mb05 bos8 red bw3 shade2 m0a" src="https://www.aramean.institute/favicon.ico">
        <h6 bold globalize-get="title" marginbottom="1rem" color="dimgray"></h6>
        <select name="language" class="p1 m0a fs08 tac shade1" bgcolor="white" color="dimgray" radius="0.5rem" border="1px solid #ddd" onvaluechange="globalize-set">
          <option selected disabled globalize-get>Change language</option>
          <option value="sv">Svenska</option>
          <option value="en">English (US)</option>
          <option value="arc">𐡀𐡓𐡌𐡉𐡀</option>
          <option value="syc">ܐܪܡܝܐ</option>
          <option value="am">አማርኛ</option>
        </select>
      </div>
    </div>
    <a href="map.html" padding="0.75rem 1rem" color="dimgray" mouseover="bgcolor:[#f5f5f5]" mouseout="bgcolor:[white]">Learning Path</a>
    <a href="browse.html" padding="0.75rem 1rem" color="dimgray" mouseover="bgcolor:[#f5f5f5]" mouseout="bgcolor:[white]">Browse Words</a>
    <a href="phonetics.html" padding="0.75rem 1rem" color="dimgray" mouseover="bgcolor:[#f5f5f5]" mouseout="bgcolor:[white]">Phonetics</a>
    <a href="#" padding="0.75rem 1rem" color="dimgray" mouseover="bgcolor:[#f5f5f5]" mouseout="bgcolor:[white]">Alphabet</a>
    <a href="#" padding="0.75rem 1rem" color="dimgray" mouseover="bgcolor:[#f5f5f5]" mouseout="bgcolor:[white]">Practice</a>
    <a href="#" padding="0.75rem 1rem" color="dimgray" mouseover="bgcolor:[#f5f5f5]" mouseout="bgcolor:[white]">My Progress</a>
  </form>
</nav>
